<template>
  <div id="app">
    <enter />
  </div>
</template>

<script>
import Enter from './components/Enter.vue'

export default {
  name: 'app',
    data(){
        return {
            newItem: '',
        }
    },
  components: {
    Enter,
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
